.textlg {
    padding: 10px;
    font-size: 27px;
    width: 360px;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
}

.box {
    position: "center";
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 50px;
    transform: 'translate(-50%, -50%)';
    -webkit-box-shadow: 2px 10px 47px -11px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 2px 10px 47px -11px rgba(0, 0, 0, 0.66);
    box-shadow: 2px 10px 47px -11px rgba(0, 0, 0, 0.66);

}

.googlebox{
    
}
.googlelogo{
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}